.player-cards {
    background-color: rgb(63, 63, 63);
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.my-text-element > .unity-text-element {
    color: rgba(255, 255, 255, 255);
    -unity-font-style: bold;
}
